@model Clinic.ViewModel.ViewModelAppoiment;

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Appointmentid" />
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctorid" class="control-label">Doctor</label>
                <select asp-for="Doctorid" class="form-control">
                    @foreach (var item in Model.Doctors)
                    {
                        <option value="@item.Doctorid">@item.Name</option>
                    }
                </select>
                <span asp-validation-for="Doctorid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paid" class="control-label">Patient</label>
                <select asp-for="Paid" class="form-control" >
                    @foreach (var item in Model.Patients)
                    {
                        <option value="@item.Patientid">@item.Patientname</option>
                    }
                </select>
                <span asp-validation-for="Paid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
